/* Your css for App.jsx */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
}

body {
  background-color: #eee;
}

.app {
  white-space: nowrap;
}

.timer {
  background-color: white;
  color: black;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.timer button {
  border-radius: 16px;
  background-color: black;
}

.timer button:hover {
  opacity: 90%;
  outline: none;
}

.timer button:focus {
  outline: none;
}

.timer button:active {
  color: grey;
}

.clocks {
  background-color: white;
  color: black;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
